@use "../../assets/sass/variables.scss" as *;
@use "../../assets/sass/mixins.scss" as *;

.projectSection {
    font-family: $primary-font;
    width: 90%;
    margin: $margin 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__tiles {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
}

@media screen and (max-width: 480px) {
    .projectSection {
        &__intro {
            display: none;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .projectSection {
        &__intro {
            display: none;
        }
    }
}

@media screen and (min-width: 769px) {
    .projectSection {

        &__tiles {
            width: 90%;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 2em 2em;
            grid-template-columns: repeat(3, 2fr);
        }

        &__intro {
            display: block;
            margin: $margin 0;
            color: $secondary-font-colour;
            width: 90%;
            text-align: center;
        }
    }
}